body {
  background-color: #FDEDEC;
  font-family: Helvetica;
  text-align:center;
  text-size: 22px;
  color:	brown;
}


<style>
/* This style sets the width of all images to 100%: */
img {
  width: 100%;
}
</style>
